<a href="https://colab.research.google.com/github/Koveraaman/DL_CHENNAI_LANDSALE_PREDICTION/blob/main/DL_CHENNAI_LANDSALE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
df= pd.read_csv("/content/train-chennai-sale.csv")
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,4/5/2011,131,1.0,1.0,3,AbNormal,Yes,15/5/1967,Commercial,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19/12/2006,26,2.0,1.0,5,AbNormal,No,22/12/1995,Commercial,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,4/2/2012,70,1.0,1.0,3,AbNormal,Yes,9/2/1992,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13/3/2010,14,3.0,2.0,5,Family,No,18/3/1988,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,5/10/2009,84,1.0,1.0,3,AbNormal,Yes,13/10/1979,Others,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P03834,Karapakkam,598,3/1/2011,51,1.0,1.0,2,AdjLand,No,15/1/1962,Others,ELO,No Access,RM,3.0,2.2,2.4,2.520,208767,107060,5353000
7105,P10000,Velachery,1897,8/4/2004,52,3.0,2.0,5,Family,Yes,11/4/1995,Others,NoSeWa,No Access,RH,3.6,4.5,3.3,3.920,346191,205551,10818480
7106,P09594,Velachery,1614,25/8/2006,152,2.0,1.0,4,Normal Sale,No,1/9/1978,House,NoSeWa,Gravel,I,4.3,4.2,2.9,3.840,317354,167028,8351410
7107,P06508,Karapakkam,787,3/8/2009,40,1.0,1.0,2,Partial,Yes,11/8/1977,Commercial,ELO,Paved,RL,4.6,3.8,4.1,4.160,425350,119098,8507000
7108,P09794,Velachery,1896,13/7/2005,156,3.0,2.0,5,Partial,Yes,24/7/1961,Others,ELO,Paved,I,3.1,3.5,4.3,3.640,349177,79812,9976480

In [34]:
pd.set_option('display.max_columns', None)

In [35]:
df.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [36]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'TNagar', 'T Nagar', 'Chrompt', 'Chrmpet', 'Karapakam',
       'Ana Nagar', 'Chormpet', 'Adyr', 'Velchery', 'Ann Nagar',
       'KKNagar'], dtype=object)

In [37]:
df['AREA'] = df['AREA'].apply(lambda x: 'Anna Nagar' if x == 'Ana Nagar' or x == 'Ann Nagar' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Chrompet' if x == 'Chormpet' or x == 'Chrompt' or x == 'Chrmpet' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'T Nagar' if x == 'TNagar' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Velachery' if x == 'Velchery' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Karapakkam' if x == 'Karapakam A' or x == 'Karapakam' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Adyar' if x == 'Adyr' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'KK Nagar' if x == 'KKNagar' else x)

In [38]:
df['SALE_COND'].unique()

array(['AbNormal', 'Family', 'Partial', 'AdjLand', 'Normal Sale',
       'Ab Normal', 'Partiall', 'Adj Land', 'PartiaLl'], dtype=object)

In [39]:
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Abnormal' if x == 'AbNormal' or x == 'Ab Normal' else x)
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Adjland' if x == 'AdjLand' or x == 'Adj Land' else x)
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Partial' if x == 'Partiall' or x == 'PartiaLl' else x)

In [40]:
df['UTILITY_AVAIL'].unique()

array(['AllPub', 'ELO', 'NoSewr ', 'NoSeWa', 'All Pub'], dtype=object)

In [41]:
df['UTILITY_AVAIL']= df['UTILITY_AVAIL'].apply(lambda x: 'All Pub' if x == 'AllPub' else x)
df['UTILITY_AVAIL']= df['UTILITY_AVAIL'].apply(lambda x: 'No SeWr' if x == 'NoSewa' else x)

In [42]:
df['STREET'].unique()

array(['Paved', 'Gravel', 'No Access', 'Pavd', 'NoAccess'], dtype=object)

In [43]:
df['STREET']= df['STREET'].apply(lambda x: 'Paved' if x == 'Pavd' else x)
df['STREET']= df['STREET'].apply(lambda x: 'No Access' if x == 'NoAcess' or x == 'NoAccess' else x)

In [44]:
df['BUILDTYPE'].unique()

array(['Commercial', 'Others', 'Other', 'House', 'Comercial'],
      dtype=object)

In [45]:
df['BUILDTYPE']= df['BUILDTYPE'].apply(lambda x: 'Others' if x == 'Other' else x)
df['BUILDTYPE']= df['BUILDTYPE'].apply(lambda x: 'Commercial' if x == 'Comercial' else x)

In [46]:
df['MZZONE'].unique()

array(['A', 'RH', 'RL', 'I', 'C', 'RM'], dtype=object)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7108 non-null   float64
 6   N_BATHROOM     7104 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   object
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7061 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(10)
memory usage: 1.2+ MB

In [48]:
df.head(5)

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,4/5/2011,131,1.0,1.0,3,Abnormal,Yes,15/5/1967,Commercial,All Pub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19/12/2006,26,2.0,1.0,5,Abnormal,No,22/12/1995,Commercial,All Pub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,4/2/2012,70,1.0,1.0,3,Abnormal,Yes,9/2/1992,Commercial,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13/3/2010,14,3.0,2.0,5,Family,No,18/3/1988,Others,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,5/10/2009,84,1.0,1.0,3,Abnormal,Yes,13/10/1979,Others,All Pub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [49]:
df['DATE_SALE']= pd.to_datetime(df['DATE_SALE'], format= '%d/%m/%Y')
df['DATE_BUILD']= pd.to_datetime(df['DATE_BUILD'], format= '%d/%m/%Y')

In [55]:
df.isnull().sum()

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [51]:
df.duplicated().sum()

0

In [52]:
df.dropna(subset='N_BEDROOM',inplace=True)
df.dropna(subset='N_BATHROOM',inplace=True)

In [53]:
df.fillna(df['QS_OVERALL'].mean(),inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7103 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7103 non-null   object
 1   AREA           7103 non-null   object
 2   INT_SQFT       7103 non-null   int64
 3   DATE_SALE      7103 non-null   datetime64[ns]
 4   DIST_MAINROAD  7103 non-null   int64
 5   N_BEDROOM      7103 non-null   float64
 6   N_BATHROOM     7103 non-null   float64
 7   N_ROOM         7103 non-null   int64
 8   SALE_COND      7103 non-null   object
 9   PARK_FACIL     7103 non-null   object
 10  DATE_BUILD     7103 non-null   datetime64[ns]
 11  BUILDTYPE      7103 non-null   object
 12  UTILITY_AVAIL  7103 non-null   object
 13  STREET         7103 non-null   object
 14  MZZONE         7103 non-null   object
 15  QS_ROOMS       7103 non-null   float64
 16  QS_BATHROOM    7103 non-null   float64
 17  QS_BEDROOM     7103 non-null   float64
 18  QS_OVERALL     7103 non-null   float64
 19  REG_FEE        7103 non-null   int64
 20  COMMIS         7103 non-null   int64
 21  SALES_PRICE    7103 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(6), object(8)
memory usage: 1.2+ MB

In [56]:
object_columns = df.select_dtypes(include=['object']).columns.tolist()
print(object_columns)

['PRT_ID', 'AREA', 'SALE_COND', 'PARK_FACIL', 'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE']