<a href="https://colab.research.google.com/github/Koveraaman/DL_CHENNAI_LANDSALE_PREDICTION/blob/main/DL_CHENNAI_LANDSALE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
df= pd.read_csv("/content/train-chennai-sale.csv")
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,4/5/2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19/12/2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,4/2/2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13/3/2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,5/10/2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P03834,Karapakkam,598,3/1/2011,51,1.0,1.0,2,AdjLand,No,...,ELO,No Access,RM,3.0,2.2,2.4,2.520,208767,107060,5353000
7105,P10000,Velachery,1897,8/4/2004,52,3.0,2.0,5,Family,Yes,...,NoSeWa,No Access,RH,3.6,4.5,3.3,3.920,346191,205551,10818480
7106,P09594,Velachery,1614,25/8/2006,152,2.0,1.0,4,Normal Sale,No,...,NoSeWa,Gravel,I,4.3,4.2,2.9,3.840,317354,167028,8351410
7107,P06508,Karapakkam,787,3/8/2009,40,1.0,1.0,2,Partial,Yes,...,ELO,Paved,RL,4.6,3.8,4.1,4.160,425350,119098,8507000
7108,P09794,Velachery,1896,13/7/2005,156,3.0,2.0,5,Partial,Yes,...,ELO,Paved,I,3.1,3.5,4.3,3.640,349177,79812,9976480

In [12]:
pd.set_option('display.max_columns', None)

In [4]:
df.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [10]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'T Nagar', 'Karapakam'], dtype=object)

In [9]:
df['AREA'] = df['AREA'].apply(lambda x: 'Anna Nagar' if x == 'Ana Nagar' or x == 'Ann Nagar' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Chrompet' if x == 'Chormpet' or x == 'Chrompt' or x == 'Chrmpet' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'T Nagar' if x == 'TNagar' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Velachery' if x == 'Velchery' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'KarapaKkam' if x == 'Karapakam A' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'Adyar' if x == 'Adyr' else x)
df['AREA'] = df['AREA'].apply(lambda x: 'KK Nagar' if x == 'KKNagar' else x)

In [15]:
df['SALE_COND'].unique()

array(['Abnormal', 'Family', 'Partial', 'Adjland', 'Normal Sale'],
      dtype=object)

In [14]:
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Abnormal' if x == 'AbNormal' or x == 'Ab Normal' else x)
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Adjland' if x == 'AdjLand' or x == 'Adj Land' else x)
df['SALE_COND']= df['SALE_COND'].apply(lambda x: 'Partial' if x == 'Partiall' or x == 'PartiaLl' else x)